@import 'mixins';

* {
  @include border-box;
  margin: 0;
  padding: 0;
}

main {
  background-color: #181729;
  border-radius: 2.5rem;
  font-family: roboto, sans-serif;
  height: 550px;
  width: 500px;
  // centralizando div
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include d(m) {
    height: 500px;
    width: 350px;
  }

  > h1 {
    color: #acaabf;
    text-align: center;
    margin-top: 1.5rem;
    font-size: 1.5rem;
  }

  > section {
    background-color: #23203d;
    padding: 1rem;
    // margin: 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 40);

    > .conta {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.2rem;
      > label {
        color: #66617f;
        font-size: 1rem;
        font-weight: normal;
      }
      > #suaConta {
        border-radius: .3rem;
        width: 70%;
        padding: .4rem;
        box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
        font-size: 1rem;
        color: #acaabf;

      }
      > #suaConta::placeholder {
        color: #acaabf;
        padding: .5rem;
        font-size: .9rem;
    }
    }

    > div {
      
      > .espacamento {
        display: flex;
        justify-content: space-between;
        align-items: center;
        > label {
          color: #66617f;
          font-size: 1rem;
          font-weight: normal;
        }
        > #porcentagemGorjeta {
          color: #66617f;
          font-size: 1rem;
          font-weight: normal;
        }
      }

      > input[type="range"] {
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        height: 10px;
        background: #754cf2;
        border: 3px solid #754cf2;
        border-radius: 5px;
        outline: none;
      }
      
      /* Estilizando para navegadores WebKit (como Chrome e Safari) */
      > input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        background: #fff; /* Cor de fundo */
        border-radius: 50%;
        cursor: pointer;
        border: 3px solid #754cf2;

      }
      
      /* Estilizando para navegadores Firefox */
      > input[type="range"]::-moz-range-thumb {
        width: 20px;
        height: 20px;
        background: #fff; /* Cor de fundo */
        border-radius: 50%;
        border: 3px solid #754cf2;
        cursor: pointer;
      }
      
      /* Estilizando para navegadores Internet Explorer e Edge */
      > input[type="range"]::-ms-thumb {
        width: 20px;
        height: 20px;
        background: #fff; /* Cor de fundo */
        border-radius: 50%;
        border: 3px solid #754cf2;
        cursor: pointer;
      }
    }

    > .espacamento {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1.2rem 0;

      > .gorjeta {
        color: #66617f;
        font-size: 1rem;
        font-weight: normal;
      }
      > #valorGorjeta {
          color: #66617f;
          font-size: 1rem;
          font-weight: normal;
      }
    }
    > hr {
      border: none; 
      height: 2px; 
      background-color: #66617f;
    }

    > .espacamento {
      > .total {
        // color: #66617f;
        color: #fff9;
        font-size: 1.2rem;
        font-weight: 600;
      }
      > #totalComGorjeta {
          // color: #dedcf1;
          color: #fff9;
          font-size: 1rem;
          font-weight: 600;
      }
    }
  }

  > section {
    background-color: #23203d;
    padding: 1rem;
    margin: 1.2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 40);
    > div {
      > .espacamento {
        display: flex;
        justify-content: space-between;
        align-items: center;
        > label {
          color: #66617f;
          font-size: 1rem;
          font-weight: normal;
         }
         > #pessoas {
          color: #66617f;
          font-size: 1rem;
          font-weight: normal;
         }
      }
    }

    > .espacamento {
      > .divisao-conta {
        color: #66617f;
        font-size: 1rem;
        font-weight: normal;
      }
      > #divisaoConta {
        color: #66617f;
        font-size: 1rem;
        font-weight: normal;
      }
    }
  }
}