main {
  section {
    .container {
      background-color: #181729;
      border-radius: 2rem;
      height: 400px;
      width: 550px;
      // centralizando div
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      h1 {
        color: #e4e3f5;
        text-align: center;
      }

      .div-um {
        background-color: #724df5;
        border-radius: 1rem;
        height: 250px;
        width: 495px;
        // centralizando div
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .conta {
          display: flex;
          gap: 100px;
          // justify-content: center;
          align-items: center;
          padding: 1rem;

          h2 {
            font-weight: 400;
            font-size: 1.5rem;
            color: #ecdeff;
          }
  
          input {
            border-radius: .2rem;
            // width: 300px;
            height: 20px;
            padding: .3rem 4rem;
          }
        }

        .seleciona-gorjeta {
          padding: 1rem;
          margin: 0;
          h2 {
            font-weight: 400;
            font-size: 1.5rem;
            color: #ecdeff;
            margin: .2rem;
          }

          input {
            width: 100%;
          }
        }

        .gorjeta {
          padding: 1rem;
          h2 {
            font-weight: 400;
            font-size: 1.5rem;
            color: #ecdeff;
            margin: .2rem;
          }
        }
      }
    }
  }
}